{% extends 'base.html' %}

{% block content %}

<h1>INSERT USERNAME's Cookbooks</h1>

<div class="row">
    <!-- List of books -->
    <div class="col s9">
        {% for book in books %}
            <div class="card">
                <a href="{% url 'book_detail' book.id %}">
                    <div class="card-content">
                        <span class="card-title">{{ book.name }}</span>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
    <!-- Add a book form -->
    <div class="col s3">
        <form action="" method="post">
            {% csrf_token %}
            {{ book_form.as_p }}
            <input type="submit" value="Add Book" class='btn' />
        </form>
    </div>
</div>

{% endblock %}