{% extends 'base.html' %}

{% block content %}

<h1>INSERT CHAPTER NAME HERE: Recipes</h1>

<div class="row">
    <!-- List of recipes in selected chapter -->
    <div class="col s9">
        {% for recipe in recipes %}
            <div class="card">
                <a href="{% url 'recipe_detail' recipe.id %}">
                    <div class="card-image">
                        <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ recipe.name }}</span>
                        <p>Category: {{ recipe.category }}</p>
                        <img src="{{ recipe.image }}" alt="Recipe Photo" height="200">
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
    <!-- Add a recipe form -->
    <div class="col s3">
        <form action="" method="post">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <input type="submit" value="Add Recipe" class='btn' />
        </form>
    </div>
</div>

{% endblock %}